@model PrivateSquareWeb.Models.LoginModel

@{
    /**/

    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}

@Styles.Render("~/theme/css")
<style>
    .btntoLink {
        font-family: "Verdana" sans-serif;
        font-size: 1em;
        text-align: left;
        color: blue;
        background: none;
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    function validateEmail(email) {

    }
    function ForgetPassword() {
        var email = document.getElementById('EmailId').value;
        if (email == '') {
            document.getElementById("valEmail").innerText = "Email Required";
            return;
        }
        $.ajax({
            url: "../../WebLogin/ForgetPassword",
            type: "POST",
            data: {
                "emailId": email
            },
            success: function (result) {
                console.log(JSON.parse(result));
                var data = JSON.parse(result);
                if (data[0].Response == '1') {
                    alert('Please Check Inbox');
                }
                else if (data[0].Response == "Email Incorrect") {
                    document.getElementById("valEmail").innerText = "Email Incorrect";
                    return;
                }
                else if (data[0].Response == "Not Exist Email") {
                    document.getElementById("valEmail").innerText = "Not Exist Email";
                    return;
                }
            }
        });
    }
    function SignUp() {

        var email = document.getElementById('emailIdRegister').value;
        var password = document.getElementById('passwordRegister').value;
        var letters = /^[a-zA-Z]+(\s{0,1}[a-zA-Z ])*$/;
        var mailformat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        var name = document.getElementById('Name').value;
        if (name == '') {
            document.getElementById("valNameRegister").innerText = "Name Required";


            return;
        } else if (!name.match(letters)) {
            document.getElementById("valNameRegister").innerText = "Please input alphabet characters only.";
            return;
        }
        else if (name.length < 3) {

            document.getElementById("valNameRegister").innerText = "Name must be at least 3 letters long.";

            return;

        }
        else {

            document.getElementById("valNameRegister").innerText = "";
        }
        if (email == '') {
            document.getElementById("valemailIdRegister").innerText = "Email/Mobile Required";
            return;

        }
        else if (!email.match(mailformat)) {
            document.getElementById("valemailIdRegister").innerText = "Incorrect Email.";
            return;
        }
        else {
            document.getElementById("valemailIdRegister").innerText = "";
        }
        if (password == '') {
            document.getElementById("valpasswordRegister").innerText = "Password Required";
            return;
        }
        else if (password.length < 6) {
            document.getElementById("valpasswordRegister").innerText = "Password must be at least 6 characters long.";
            return;
        }
        else {
            document.getElementById("valpasswordRegister").innerText = "";
        }


        {

            $.ajax({
                url: "../../WebLogin/RegisterUser",
                type: "POST",
                data: {
                    "EmailId": email,
                    "Password": password,
                    "Name": name
                },
                success: function (result) {
                    var data = JSON.parse(result);
                    var response = data[0].Response;
                    var matchString = "USER EXISTS";
                    if (response == matchString.trim()) {
                        var p = document.getElementById("RegisMess");
                        p.innerText = data[0].Response;

                    }
                    else if (response == "Email Incorrect") {
                        document.getElementById("valemailIdRegister").innerText = "Email Incorrect";
                        return;
                    }
                    else if (response == "Mobile Number Incorrect") {
                        document.getElementById("valemailIdRegister").innerText = "Mobile Number Incorrect";
                        return;
                    }
                    else {
                        window.location.href = "/WebHome/Index";

                    }
                }
            });
        }
    }


</script>
<script>

    var HideSignIn = function () {

        $("#SignIn").hide();
    }

    var HideSignUp = function () {
        $("#SignIn").show();

    }
</script>

@using (Html.BeginForm("LoginUser", "WebLogin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="ps-hero">

        <div class="container">

            <h3>Login & Registration</h3>

            <p>NearByCart online shopping</p>

        </div>

    </div>

    <div class="container mt-50 mb-45">

        <div class="col-lg-6 col-lg-offset-3">

            <div id="SignIn">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">

                    @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", placeholder = "Enter Email/Mobile" })

                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger", id = "valEmail" })

                </div><!-- form-group -->

                <div class="form-group mg-b-50">

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Password" })

                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    <div class=" forget-password">

                        <a href="/WebsiteForgetPassword/Index">Forget Password</a>


                        <p style="color:red;">  @ViewBag.Response</p>

                    </div>
                    <p style="color:red;"> @ViewBag.ResponseMassege</p>

                </div><!-- form-group -->





                <input type="submit" class="ps-btn pl-60 pr-60" value="Login">



                @*/Login/Register*@



                <p class="mg-b-0 text-center">Don't have an account? <a href="#" class="sign-up-col" id="step-2" onclick="HideSignIn()">Sign Up</a></p>



            </div>



            <div class="ps-step-two" style="display: none">

                <h2 class="sign-up-heading text-center">Sign Up to Write Quotes and earn points <br>from NearByCart</h2>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">

                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Full Name" })

                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", id = "valNameRegister" })



                </div><!-- form-group -->

                <div class="form-group">

                    @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", placeholder = "Email Id/Mobile", id = "emailIdRegister" })

                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger", id = "valemailIdRegister" })



                </div><!-- form-group  -->

                <div class="form-group">

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", id = "passwordRegister" })

                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", id = "valpasswordRegister" })



                </div><!-- form-group -->

                <p style="color:red;" id="RegisMess"> @ViewBag.RegisterMessage</p>

                <input type="button" value="Sign Up" class="ps-btn pl-60 pr-60" onclick="SignUp()" />





                <p class="mg-b-0 text-center">Have an account? <a href="#" class="pvt-sign-text" id="step-1" onclick="HideSignUp()">Sign In</a></p>



            </div>

        </div>

    </div>





}

<script src="~/Scripts/jquery-3.3.1.js"></script>

<script>

    $("#step-2").click(function () {

        $(".ps-step-one").hide();

        $(".ps-step-two").show();

    });

    $("#step-1").click(function () {

        $(".ps-step-one").show();

        $(".ps-step-two").hide();

    });

</script>


