@model PrivateSquareWeb.Models.LoginModel

@{
    ViewBag.Title = "WebHomeChangePassword";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}

@using (Html.BeginForm("WebHomeChangePassword", "ChangePassword", FormMethod.Post))

{
    @Html.AntiForgeryToken()

    <div class="ps-hero">

        <div class="container">

            <h3>Change Password</h3>

        </div>

    </div>
    <div class="container mt-50 mb-45">

        <div class="col-lg-6 col-lg-offset-3">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">

                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Your Current Password" })

                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            </div><!-- form-group -->

            <div class="form-group mg-b-50">

                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })

                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

            </div>

            <div class="form-group mg-b-50">

                @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control", placeholder = "Confirm Password" })

                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })

            </div>

            <div class="row mg-t-30">
                <p style="color:red;">@ViewBag.WebResponseMessage</p>
                <div class="col-sm-9 mg-l-auto">

                    <div class="form-layout-footer">
                        <a href="/WebHome/Index" class="ps-btn pl-60 pr-60">CANCEL</a>
                        <input type="submit" class="ps-btn pl-60 pr-60" value="SAVE" />



                    </div><!-- form-layout-footer -->

                </div><!-- col-8 -->

            </div>
        </div>

    </div>

}
