
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}


<div class="ps-hero">
    <div class="container">
        <h3>Checkout</h3>
        <p>Page Checkout</p>
    </div>
</div>
<div class="ps-checkout pt-40 pb-40">
    <div class="ps-container">
        <form class="ps-form--checkout" action="do_action" method="post">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                    <div class="ps-checkout__billing">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-uppercase"><b>Address</b></th>
                                    
                                </tr>
                            </thead>
                            <tbody>

                                <tr><td>Login:@ViewBag.LoginEmail</td></tr>

                                @{int index = 0;
                                        foreach (var item in ViewBag.UserAddress)
                                        {

                                        <tr>
                                            <td>
                                                <input type="radio" name="rdoAddress" id="@("rdoAddress"+index)" />
                                                <p>@item.Type</p>
                                                <h4 class="card-title">@item.Name</h4>
                                                <p class="card-text">
                                                    @item.Address, @item.CityName, @item.StateName
                                                </p>
                                                <p class="card-text">
                                                    @item.Landmark @item.Mobile @item.AlternatePhone @item.Pincode
                                                </p>
                                            </td>
                                        </tr>
                                        index++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ps-checkout__billing">
                        <h3>Billing Detail</h3>
                        <div class="form-group form-group--inline">
                            <label>
                                First Name<span>*</span>
                            </label>
                            <div class="form-group__content">
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group form-group--inline">
                            <label>
                                Last Name<span>*</span>
                            </label>
                            <div class="form-group__content">
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group form-group--inline">
                            <label>
                                Company Name<span>*</span>
                            </label>
                            <div class="form-group__content">
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group form-group--inline">
                            <label>
                                Email Address<span>*</span>
                            </label>
                            <div class="form-group__content">
                                <input class="form-control" type="email">
                            </div>
                        </div>
                        <div class="form-group form-group--inline">
                            <label>
                                Company Name<span>*</span>
                            </label>
                            <div class="form-group__content">
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group form-group--inline">
                            <label>
                                Phone<span>*</span>
                            </label>
                            <div class="form-group__content">
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group form-group--inline">
                            <label>
                                Address<span>*</span>
                            </label>
                            <div class="form-group__content">
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="ps-checkbox">
                                <input class="form-control" type="checkbox" id="cb01">
                                <label for="cb01">Create an account?</label>
                            </div>
                        </div>
                        <h3 class="mt-40"> Addition information</h3>
                        <div class="form-group form-group--inline textarea">
                            <label>Order Notes</label>
                            <textarea class="form-control" rows="5" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="ps-checkout__order">
                        <header>
                            <h3>Your Order</h3>
                        </header>
                        <div class="content">
                            <table class="table ps-checkout__products">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase">Product</th>
                                        <th class="text-uppercase">Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td> Price(@ViewBag.ItemCount)=@ViewBag.TotalAmount</td>
                                        <td>  @ViewBag.TotalAmount</td>
                                    </tr>
                                    <tr>
                                        <td>Delivery Charges</td>
                                        <td>$0</td>
                                    </tr>
                                    <tr>
                                        <td>Order Total</td>
                                        <td>$@ViewBag.TotalAmount</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <footer>
                            <h3>Payment Method</h3>
                            <div class="form-group cheque">
                                <div class="ps-radio ps-radio--small">
                                    <input class="form-control" type="radio" id="rdo01" name="payment" checked>
                                    <label for="rdo01">Cheque Payment</label>
                                </div>
                                <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                            </div>
                            <div class="form-group paypal">
                                <div class="ps-radio ps-radio--small">
                                    <input class="form-control" type="radio" name="payment" id="rdo02">
                                    <label for="rdo02">Paypal</label>
                                </div>
                                <ul class="ps-payment-method">
                                    <li><a href="#"><img src="images/payment/1.png" alt=""></a></li>
                                    <li><a href="#"><img src="images/payment/2.png" alt=""></a></li>
                                    <li><a href="#"><img src="images/payment/3.png" alt=""></a></li>
                                </ul>
                                <button class="ps-btn ps-btn--fullwidth">Place Order</button>
                            </div>
                        </footer>
                    </div>
                    <div class="ps-shipping">
                        <h3>FREE SHIPPING</h3>
                        <p>
                            YOUR ORDER QUALIFIES FOR FREE SHIPPING.
                            <br> <a href="#"> Singup </a> for free shipping on every order, every time.
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>





<div class="slim-mainpanel">
    <div class="container">
        <div class="manager-header">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contact Manager</li>
                </ol>
                <!-- <h6 class="slim-pagetitle">Contact Manager</h6> -->
            </div><!-- slim-pageheader -->
            <a id="contactNavicon" href="" class="contact-navicon"><i class="icon ion-navicon-round"></i></a>
        </div><!-- manager-header -->

        <div class="manager-wrapper">
            <div class="manager-right">
                <div class="search-box">
                    <input type="text" class="form-control" placeholder="Search">
                    <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
                <div class="row">
                    <div class="col-sm-8 border">
                        <b>Login:</b>@ViewBag.LoginEmail


                        @foreach (var item in ViewBag.UserAddress)
                        {

                            <div class="card">
                                <div class="card-block">
                                    <h3>@item.Type</h3>
                                    <h4 class="card-title">@item.Name</h4>
                                    <p class="card-text">
                                        @item.Address, @item.CityName, @item.StateName
                                    </p>
                                    <p class="card-text">
                                        @item.Landmark @item.Mobile @item.AlternatePhone @item.Pincode
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-sm-4 border">
                        <h6>Price Detail</h6>
                        Price(@ViewBag.ItemCount)=@ViewBag.TotalAmount <br />
                        Delivery Charges free <br />
                        Amount Payable @ViewBag.TotalAmount
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>