@model PrivateSquareWeb.Models.ProductModel

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">

    var AddToCartCatWise = function (Id, ProductName, SellingPrice, DiscountPrice, ProductImage, ProductCatId) {
        //console.log(Id + ProductName + SellingPrice + DiscountPrice + ProductImage + "  CategoryId" + ProductCatId);
        //var Qty = document.getElementById('TxtQty').value;
        //if (Qty.trim() == '' || Qty.trim() == null) {
        //    alert('Minum 1 Qty Required');
        //    return;
        //}
        var salePrice = SellingPrice;
        var discountPrice = DiscountPrice;
        var ProductId = Id;
        var ProductName = "" + ProductName + "";
        var Qty = 1;
        var ImageName = ProductImage;
        var Price = discountPrice; /*Number((Number(salePrice) - Number(discountPrice)));*/
        var Amount = Number(Price) * Number(Qty);

        var TotalAmount = 0;
        //console.log('ProductId' + ProductId);
        $.ajax({
            url: "../../WebHome/AddToCart",
            type: "POST",
            //contentType: false,
            //processData: false,
            data: {
                ProductId: ProductId,
                ProductName: ProductName,
                Qty: Qty,
                ImageName: ImageName,
                Price: Price,
                Amount: Amount,
                Discount: discountPrice,
                TotalAmount: TotalAmount
            },
            success: function (result) {
                //console.log(result);
                //window.location.href = "/ProductCatWise/Index/" + ProductCatId;
                $("#Cartcontent").load(location.href + ' #Cartcontent');
                swal(" ", "Product Added to the Cart", "success");
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
<!-- Hide Quick View  -->
@*<script>
        var QuickView = function (ProductId) {
            var ProductId = ProductId;
            // Call AJAX here
            $.ajax({
                method: "POST",
                url: "../../WebHome/ProductQuickView/", // Your URL here
                data: { ProductId: ProductId },
                success: function (result) {
                    //debugger;
                    console.log(result);

                    //$('#quickView').innerhtml(result);
                    //document.getElementById("quickView").innerHTML = result;
                    $mymodal = $("#myModal");
                    $mymodal.find("div.modal-body").html(result);
                    $('#openpopup').click();
                    console.log('Click triggered');
                    $mymodal.modal("show");
                },
                error: function (error) {
                    console.log(error);
                }
            });

            // Redirect here
        }
    </script>*@
<script type="text/javascript">
    var AddToWishlist = function (Id) {

        var ProductId = Id;
        $.ajax({
            url: "../../WebHome/AddToWishlist",
            type: "POST",
            data: { ProductId: ProductId },
            success: function (result) {
                if (result == "Please Login to access wishlist") {
                    swal(result);
                }
                else if (result == "Product Exists") {
                    swal("Product already added to the Wishlist");
                }
                else {
                    swal(" ", result, "success");
                }
            },
            error: function (error) {
                console.log('error');
            }

        })
        //$('form#ajaxForm').trigger('submit');

    }
</script>

@foreach (var Users in ViewBag.UsersProduct)
{
    <div class="ps-product-wrap">
        <div class="ps-product--fashion">
            <div class="ps-product__thumbnail">
                <a class="ps-product__overlay" href="/WebHome/ProductDetail/@Users.Id"></a>
                @{ if (@Users.ProductImage != null)
                    {
                        <img src="~/DocImg/@Users.ProductImage" alt="">
                    }
                    else
                    {
                        <img src="~/WebSiteTheme/images/product/fashion-1.jpg" alt="">

                    }
                }
                @{
                    string off = (100 - Math.Round((@Users.DiscountPrice / @Users.SellingPrice) * 100)).ToString();
                }
                <div class="ps-badge ps-badge--sale-off"><span>-@off%</span></div>
                <ul class="ps-product__actions">
                    <!-- Hide Quick View  -->
                    @*<li><a title="Quick View" onclick="QuickView(@Users.Id)"><i class="ps-icon-eye"></i></a></li>*@
                    <!-- Hide Compare -->
                    @*<li><a href="#" title="Compare"><i class="ps-icon-compare"></i></a></li>*@
                    <li><a href="#" title="Favorite"><i class="ps-icon-heart" onclick="AddToWishlist(@Users.Id)"></i></a></li>
                </ul>
            </div>
            <div class="ps-product__content">
                <a class="ps-product__title" href="/WebHome/ProductDetail/@Users.Id">@Users.ProductName</a>
                <p class="ps-product__price">
                    <del>₹@Users.SellingPrice</del>₹@Users.DiscountPrice
                </p><a class="ps-product__cart" onclick="AddToCartCatWise('@Users.Id','@Users.ProductName','@Users.SellingPrice','@Users.DiscountPrice','@Users.ProductImage','@Users.ProductCatId')" title="Add To Cart"><i class="ps-icon-cart-2"></i></a>
            </div>
        </div>
    </div>
}
    <div class="ps-product-group__footer">
        <div class="ps-pagination">
            <ul class="pagination">
                @if ((ViewBag.SearchResultCount / 10) > 1)
                {
                    var n = ViewBag.LowerLimit;
                    <li><a href="~/ProductCatWise/PreviousPages/@(ViewBag.LowerLimit-1)"><i class="fa fa-angle-left"></i></a></li>
                    do
                    {
                        <li><a onclick="nextpage(@n)">@n</a></li>
                        n++;
                    }
                    while (n <= (ViewBag.NumberOfPages));
                    if ((ViewBag.SearchResultCount / 10) > ViewBag.NumberOfPages)
                    {
                        <li><a href="~/ProductCatWise/MorePages/@n"><i class="fa fa-angle-right"></i></a></li>
                    }
                    @*<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>*@
                }
                else
                {
                    if (ViewBag.SearchResultCount < 10)
                    {
                        <li class="active"><a href="#">1</a></li>
                    }
                    else
                    {
                        if ((ViewBag.SearchResultCount % 10) != 0)
                        {
                            @*<li><a href="#"><i class="fa fa-angle-left"></i></a></li>*@
                            <li class="active"><a href="~/ProductCatWise/NextPage/1">1</a></li>
                            <li><a onclick="nextpage(2)">2</a></li>
                        }
                        else
                        {
                            <li class="active"><a href="#">1</a></li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
