@*@model PrivateSquareWeb.Models.UserRegisterModel*@
@model PrivateSquareWeb.Models.LoginModel

@{
    /**/

    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!-- Vendor css -->
@Styles.Render("~/theme/css")

<script type="text/javascript">
    function ForgetPassword() {
        var email = document.getElementById('EmailId').value;
        $.ajax({
            url: "../../Login/ForgetPassword",
            type: "POST",
            data: {
                "emailId": email
            },
            success: function (result) {
                console.log(JSON.parse(result));
                var data = JSON.parse(result);
                if (data.Response == '1') {
                    // alert()
                }
            }
        });
    }
    function SignUp() {
        //emailIdRegister,passwordRegister
        var email = document.getElementById('emailIdRegister').value;
        var password = document.getElementById('passwordRegister').value;
        var name = document.getElementById('Name').value;
        alert("EmailId="+email+ " Password="+password +" Name="+name);
        $.ajax({
            url: "../../Login/RegisterUser",
            type: "POST",
            data: {
                "EmailId": email,
                "Password": password,
                "Name": name
            },
            success: function (result) {
                var data = JSON.parse(result);
                console.log(data);
                if (data.Response == 'USER EXISTS')
                {
                    var p = document.getElementById("RegisMess");
                    p.innerHTML = data.Response;
                }
            }
        });
    }
</script>

@using (Html.BeginForm("LoginUser", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="col-lg-12 text-center header-login">
        <a href="indexpage.html"><img src="~/theme/img/logo.png" alt="logo" class="logo-width"></a>
    </div>
    <div class="container">
        <p class="text-center private-squares-heading">private<span class="pvt-sq-col">squares</span> helps to connect and share with the people in your life.</p>
        <div class="col-md-7 pull-left"><img src="~/theme/img/login-img.jpg" class="img-full" /></div>
        <div class="col-md-5 pull-left image-padding">
            <div class="signin-box pull-right">
                <div class="ps-step-one">
                    <button class="btn btn-block btn-sign-in">Login with facebook</button>
                    <h5 class="text-center login-or">OR</h5>


                    <div class="form-group">
                        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", placeholder = "Enter Email/Mobile" })
                        @*<input type="text" class="form-control" placeholder="Enter your email">*@
                    </div><!-- form-group -->
                    <div class="form-group mg-b-50">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Password" })
                        @*<input type="password" class="form-control" placeholder="Enter your password">*@
                        <div class=" forget-password">

                            <input type="button" onclick="ForgetPassword()" class="sign-up-col" value="Forget Password" />
                            <p style="color:red;">  @ViewBag.Response</p>
                        </div>
                        <!-- <h6 class="forget-password">Forget Password</h6> -->
                    </div><!-- form-group -->

                    <a href="page-profile.html">
                        <input type="submit" class="btn btn-block btn-sign-in" value="Login">
                    </a>
                    @*/Login/Register*@

                    <p class="mg-b-0 text-center">Don't have an account? <a href="#" class="sign-up-col" id="step-2">Sign Up</a></p>

                </div>

                <div class="ps-step-two" style="display: none">
                    <h2 class="sign-up-heading text-center">Sign Up to Write Quotes and earn points <br>from Privatesquares</h2>
                   
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Full Name" })
                        @*<input type="text" class="form-control" placeholder="Full Name">*@
                    </div><!-- form-group -->
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", placeholder = "Email Id", id = "emailIdRegister" })
                        @*<input type="password" class="form-control" placeholder="Email Address">*@
                    </div><!-- form-group  -->
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", id = "passwordRegister" })
                        @*<input type="password" class="form-control" placeholder="Password">*@
                    </div><!-- form-group -->
                    <p style="color:red;" id="RegisMess"> @ViewBag.RegisterMessage</p>
                    <input type="button" value="Sign Up" class="btn btn-block btn-sign-in" onclick="SignUp()"/>


                    <p class="mg-b-0 text-center">Don't have an account? <a href="indexpage.html" class="pvt-sign-text" id="next-2">Sign In</a></p>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12 pvt-sq-list-footer pvt-sq-border text-center">
            <ul>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">STORE</a></li>
                <li><a href="#">CONNECTIONS</a></li>
                <li><a href="#">PRIVACY</a></li>
                <li><a href="#">SUPPORT</a></li>
            </ul>
        </div>
    </div>


}
@*<script src="../lib/jquery/js/jquery.js"></script>
    <script src="../lib/popper.js/js/popper.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.js"></script>

    <script src="../js/slim.js"></script>*@
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $("#step-2").click(function () {
        $(".ps-step-one").hide();
        $(".ps-step-two").show();
    });
</script>
<!--

<div class="signin-wrapper">

    <div class="signin-box signup">
        <img src="~/Content/img/logo.png" alt="logo" class="logo-width">
        <div class="ps-step-one">
            <h3 class="signin-title-primary">Get Started!</h3>
            <h5 class="signin-title-secondary lh-4">It's free to signup and only takes a minute.</h5>
            <div class="row row-xs mg-b-10">
               @* @Html.TextBoxFor(model => model.Mobile, new { class = "form-control", placeholder = "Mobile" })*@
                <input type="hidden" name="txttype" id="txttype" value="L" />
            </div><br />
            <!-- row -->
<!--                    <button class="btn btn-primary btn-block btn-signin" id="step-2"> Login</button>
            <p class="mg-t-40 mg-b-0 tx-center">Don't have an account? click <a href="/Login/Register">Register</a> to Sign Up </p>


            <div class="signup-separator"><span>or signup using</span></div>

            <div class="tx-20 tx-center">
                @*<input type="submit" value="FacebookLoginnn"/>*@
                <input type="checkbox" id="ChkFacebook" name="ChkFacebook" >Facebook
                @*@Html.ActionLink("FacebookLogin", "FacebookLogin", "Login", new { @class = "tx-primary mg-r-5" })*@
                <a href="" class="tx-primary mg-r-5"><i class="fa fa-facebook"></i></a>
                <a href="" class="tx-info mg-r-5"><i class="fa fa-twitter"></i></a>
                <a href="" class="tx-danger mg-r-5"><i class="fa fa-google-plus"></i></a>
                <a href="" class="tx-danger mg-r-5"><i class="fa fa-pinterest"></i></a>
                <a href="" class="tx-inverse mg-r-5"><i class="fa fa-github"></i></a>
                <a href="" class="tx-pink mg-r-5"><i class="fa fa-instagram"></i></a>
            </div>


        </div>
        <div class="ps-step-two" style="display:none">
            @{
                // Html.RenderPartial("_OTP");
            }

            <!-- <p class="mg-t-40 mg-b-0">Already have an account? <a href="page-signin.html">Sign In</a></p> -->
<!--</div>

-->
<!-- </div><!-- signin-box -->
<!-- </div><!-- signin-wrapper -->
@*<script src="~/theme/lib/jquery/js/jquery.js"></script>
    <script src="~/theme/lib/popper.js/js/popper.js"></script>
    <script src="~/theme/lib/bootstrap/js/bootstrap.js"></script>

    <script src="~/theme/js/slim.js"></script>
    <script>
        $("#step-2").click(function () {
            $(".ps-step-one").hide();
            $(".ps-step-two").show();
        });
        $("#skip-2, #next-2").click(function () {
            $(".ps-step-two").hide();
            $(".ps-step-fifth").show();
        });
        $("#skip-3, #next-3").click(function () {
            $(".ps-step-third").hide();
            $(".ps-step-fourth").show();
        });
        $("#next-6").click(function () {
            $(".ps-step-fifth").hide();
            $(".ps-step-third").show();
        });
    </script>*@


@*</body>
    </html>*@

