@model PrivateSquareWeb.Models.AddToCartModel

@{
    /**/

    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}
<style>
    .imageStyle {
        width: 50px;
        height: 50px;
    }
</style>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
    var DeleteItemView = function (index) {
        //console.log('Delete Call');
        var divCart = document.getElementById('CartList');
        var CartString = "";
        $.ajax({
            url: "../../ViewCart/RemoveToCart",
            type: "POST",
            //contentType: false,
            //processData: false,
            data: {
                index: index
            },
            success: function (result) {
                var JsonResponse = JSON.parse(result);
                console.log(JsonResponse);
                console.log(JsonResponse.length);
                var ProductName = "";
                var Qty = "";
                var Price = "";
                var TotalAmount = 0;
                for (var i = 0; i < JsonResponse.length; i++) {
                    console.log(JsonResponse[i].ProductId);
                    // console.log(JsonResponse.ProductId);
                    ProductName = JsonResponse[i].ProductName;
                    Qty = JsonResponse[i].Qty;
                    TotalAmount = Number(TotalAmount) + Number(JsonResponse[i].Amount);
                    CartString = CartString + '<div class=\"row\">' +
                        '<div class=\"col-sm-2\">' +
                        '<img src=\"../../DocImg/' + JsonResponse[i].ImageName + '\" class=\"imageStyle\" />' +
                        '</div>' +
                        '<div class=\"col-sm-2\">' + ProductName + '</div>' +
                        '<div class=\"col-sm-2\">' + Qty + '</div>' +
                        '<div class=\"col-sm-2\">' + JsonResponse[i].Price + '</div>' +

                        '<div class=\"col-sm-2\">' + JsonResponse[i].Amount + '</div>' +
                        '<div class=\"col-sm-2\">' + '<input type="button" value="x" onclick="DeleteItemView(' + i + ')" />' +
                        '</div>' +
                        '</div>';

                    CartString = CartString = '<tr><td>' +
                        '<a class="ps-product--compare" href="product-detail.html">' +
                        '<img class="mr-15" src="../../DocImg/' + JsonResponse[i].ImageName + '" alt="">' + ProductName +
                        '</a>' +
                        '</td>' +
                        '<td>' + JsonResponse[i].Price + '</td>' +
                        '<td>' +
                        '<div class="form-group--number">' +
                        '<button class="minus"><span>-</span></button>' +
                        '<input class="form-control" type="text" value="' + Qty + '">' +
                        '<button class="plus"><span>+</span></button>' +
                        '</div>' +
                        '</td>' +
                        '<td>$' + JsonResponse[i].Amount + '</td>' +
                        '<td>' +
                        '<div ><input class="ps-remove" value="X" type="button"  onclick="DeleteItemView(' + i + ')" /></div>' +
                        '</td>' +
                        '</tr>';

                }
                if (JsonResponse.length == null || JsonResponse.length == 0) {
                    //CartString = '<div class=\"row\">' +
                    //    '<div class=\"col-sm-2\">' +
                    //    '<b>Cart Is Empty</b>' +
                    //    '</div></div>';
                }
                if (JsonResponse.length > 0) {
                    //CartString = CartString + '<div class="row" style="border:1px solid black; height:40px;text-align:center;margin-top:25px;">' +
                    //'<div class="col-sm-2  text-center ">Total</div>' +
                    //'<div class="col-sm-2 "></div>' +
                    //'<div class="col-sm-2"></div>' +
                    //'<div class="col-sm-2"></div>' +
                    //'<div class="col-sm-2">' + TotalAmount + '</div>' +
                    //'<div class="col-sm-2"></div>' +
                    //'</div>';
                }
                divCart.innerHTML = "";
                console.log(CartString);
                // $("#CartList").append(CartString);
                divCart.innerHTML = CartString;
                window.location.href = "/ViewCart/ViewCart";
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    var AddToCartViewCart = function (Id, ProductName, ProductImage, Price, Amount) {
       // console.log(Id + ProductName + SellingPrice + DiscountPrice + ProductImage);
      
        //var salePrice = SellingPrice;
        var discountPrice = 0;
        var ProductId = Id;
        var ProductNamevar = "" + ProductName + "";
        var Qty = 1;
        var ImageName = ProductImage;
        //var Price = Number((Number(salePrice) - Number(discountPrice)));
        //var Amount = Number(Price) * Number(Qty);

        var TotalAmount = 0;
        console.log('ProductId' + ProductId);
        $.ajax({
            url: "../../WebHome/AddToCart",
            type: "POST",
            data: {
                ProductId: ProductId,
                ProductName: ProductNamevar,
                Qty: Qty,
                ImageName: ImageName,
                Price: Price,
                Amount: Amount,
                Discount: discountPrice,
                TotalAmount: TotalAmount
            },
            success: function (result) {
                //console.log(result);
                //window.location.href = "/ViewCart/ViewCart";
                $("#cartlisting").load(location.href + ' #cartlisting');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    var RemoveToCartViewCart = function (Id, ProductName, ProductImage, Price, Amount,index) {
        //console.log(Id + ProductName + SellingPrice + DiscountPrice + ProductImage);
        var QtyTxt = document.getElementById('TxtQty'+index).value;
        console.log('Qty=='+QtyTxt);
        if (QtyTxt<= 1) {
            swal('Quantity cannot be less than 1');
            return;
        }
        
        var discountPrice = 0;
        var ProductId = Id;
        var ProductNameVar = "" + ProductName + "";
        var Qty = 1;
        var ImageName = ProductImage;
        //var Price = Number((Number(salePrice) - Number(discountPrice)));
        //var Amount = Number(Price) * Number(Qty);

        var TotalAmount = 0;
        console.log('ProductId' + ProductId);
        $.ajax({
            url: "../../WebHome/RemoveQtyToCart",
            type: "POST",
            data: {
                ProductId: ProductId,
                ProductName: ProductNameVar,
                Qty: Qty,
                ImageName: ImageName,
                Price: Price,
                Amount: Amount,
                Discount: discountPrice,
                TotalAmount: TotalAmount
            },
            success: function (result) {
                //console.log(result);
                //window.location.href = "/ViewCart/ViewCart";
                $("#cartlisting").load(location.href + ' #cartlisting');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
    @Html.AntiForgeryToken()



    <div class="ps-hero">
        <div class="container">
            <h3>YOUR CART</h3>
            <p>Page Cart</p>
        </div>
    </div>
    <div class="ps-content pt-80 pb-80">
        <div class="ps-container">
            <div class="ps-cart-listing" id="cartlisting">
                <table class="table ps-cart__table">
                    <thead>
                        <tr>
                            <th>All Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <div id="CartList">

                            @{ int index = 0;
                                foreach (var item in ViewBag.AddToCart)
                                {

                                    <tr>
                                        <td>
                                            <a class="ps-product--compare" href="~/WebHome/ProductDetail/@item.ProductId">
                                                <img class="mr-15" src="~/DocImg/@item.ImageName" alt="">  @item.ProductName
                                            </a>
                                        </td>
                                        <td>₹ @item.Price</td>
                                        <td>
                                            <div class="form-group--number">
                                                <button class="minus" onclick="RemoveToCartViewCart('@item.ProductId','@item.ProductName','@item.ImageName','@item.Price','@item.Amount','@index')"><span>-</span></button>
                                                <input class="form-control" id="@("TxtQty"+index)" name="@("TxtQty"+index)" type="text" value="@item.Qty">
                                                <button class="plus" onclick="AddToCartViewCart('@item.ProductId','@item.ProductName','@item.ImageName','@item.Price','@item.Amount')"><span>+</span></button>
                                            </div>
                                        </td>
                                        <td>₹ @item.Amount</td>
                                        <td>
                                            <div><input class="ps-remove" value="X" type="button" onclick="DeleteItemView(@index)" /></div>
                                        </td>
                                    </tr>



                                    index++;
                                }
                            }
                        </div>

                    </tbody>
                </table>
                <div class="ps-cart__actions">

                    <div class="ps-cart__promotion">
                        @*--------div for Promo Code --- Commented code below------------*@
                        @*<div class="form-group">
                            <div class="ps-form--icon">
                                <i class="fa fa-angle-right"></i>
                                <input class="form-control" type="text" placeholder="Have a Promo Code?">
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="/WebHome/Index" class="ps-btn ps-btn--gray">Continue Shopping</a>
                        </div>*@
                    </div>
                    <div class="ps-cart__total">
                        <h3>Total Price: <span> ₹ @ViewBag.TotalAmount </span></h3><a class="ps-btn" href="/Checkout/Index">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>














    @*<div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Product</li>
                </ol>
                <h6 class="slim-pagetitle">View Cart</h6>
            </div>
            <div class="section-wrapper">
                <div class="form-layout">
                    <div class="row">


                        <div class="col-sm-2 ">
                            Image
                        </div>
                        <div class="col-sm-2 ">
                            Name
                        </div>
                        <div class="col-sm-2">
                            Qty
                        </div>
                        <div class="col-sm-2">
                            Price
                        </div>
                        <div class="col-sm-2">
                            Amount
                        </div>
                        <div class="col-sm-2">
                            REMOVE
                        </div>

                    </div>
                    <div id="CartList1">
                        @{ int index1 = 0;
                            foreach (var item in ViewBag.AddToCart)
                            {
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="~/DocImg/@item.ImageName" class="imageStyle" />
                                    </div>
                                    <div class="col-sm-2">
                                        @item.ProductName
                                    </div>
                                    <div class="col-sm-2">
                                        @item.Qty
                                    </div>
                                    <div class="col-sm-2">
                                        @item.Price
                                    </div>

                                    <div class="col-sm-2">
                                        @item.Amount
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="button" value="x" onclick="DeleteItem(@index1)" />
                                    </div>
                                </div>
                                index1++;
                            }
                        }
                        @if (ViewBag.AddToCart == null || ViewBag.AddToCart.Count == 0)
                        {
                            <div class="row">
                                <div class="col-sm-2">
                                    <b>Cart Is Empty</b>
                                </div>
                            </div>
                        }
                        @if (ViewBag.AddToCart.Count > 0)
                        {
                            <div class="row" style="border:1px solid black; height:40px;text-align:center;margin-top:25px;">
                                <div class="col-sm-2  text-center ">
                                    Total
                                </div>
                                @*<div class="col-sm-2 ">
                                    @*Name*@
    <!-- </div>
                                <div class="col-sm-2">
                                    @*Qty*@
                                </div>
                                <div class="col-sm-2">
                                    @*Price*@
                                </div>
                                <div class="col-sm-2">
                                    @ViewBag.TotalAmount
                                </div>
                                <div class="col-sm-2">
                                    @*REMOVE*@
                                </div>

                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="fc fc-button" href="/WebHome/Index">Continue To Shoping</a>
                        </div>
                        <div class="col-sm-6">
                            <a class="fc tc-button" href="/Checkout/Index">Proceed To Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>--> 


