@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
    function AddNetwork(userId, ProfileId) {
        $.ajax({
            url: "../../Home/AddNetwork",
            type: "POST",
            data: {
                UserId: userId,
                UserProfileId: ProfileId

            },
            success: function (result) {
                var resp = JSON.parse(result);
                var responseGet = resp[0].Response;
                var CompVar = "NotLogin";
                console.log(responseGet);
                alert(responseGet + "==" + "NotLogin");
                if (responseGet) {

                    if (responseGet.trim() == CompVar.trim()) {
                        window.location.href = "/Login/Index";
                    }
                    else if (responseGet.trim() != CompVar.trim()){
                        alert("Add Network Successfully")
                    }
                }
            }
        });
    }
</script>
<div class="slim-mainpanel">
    <div class="container">
        <div class="manager-header">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contact Manager</li>
                </ol>
                <!-- <h6 class="slim-pagetitle">Contact Manager</h6> -->
            </div><!-- slim-pageheader -->
            <a id="contactNavicon" href="" class="contact-navicon"><i class="icon ion-navicon-round"></i></a>
        </div><!-- manager-header -->

        <div class="manager-wrapper">
            <div class="manager-right">
                <div class="search-box">
                    <input type="text" class="form-control" placeholder="Search">
                    <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
                <div class="row row-sm mrg-btm-20">
                    @foreach (var Users in ViewBag.AllUsers)
                    {
                        <div class="col-sm-6 col-lg-4 mg-b-20">
                            <div class="card-contact card-min-height">
                                <div class="tx-center">
                                    <a href=""><img src="~/DocImg/@Users.ProfileImage" class="card-img" alt=""></a>
                                    <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">@Users.Name</a></h5>
                                    <p>@Users.Profession</p>
                                    <p>@Users.Location</p>
                                    <p class="contact-social">
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-google"></i></a>
                                    </p>
                                </div><!-- tx-center -->


                                <p class="contact-item">

                                    <span class="text-center">@Users.ProfessionalKeyword</span>
                                </p><!-- contact-item -->
                                <div class="hobbie-item">
                                    <span class="hobbies">@Users.InterestName</span>@*<span class="hobbies">Music</span><span class="hobbies">Books</span>*@
                                </div><!-- contact-item -->
                                <input type="submit" value="Get In Touch" onclick="AddNetwork(@Users.UserId,@Users.Id)" class="btn btn-outline-primary btn-block ps-btn-radius ps-btn-wdth-100">
                                <i class=""></i>


                            </div><!-- card -->
                        </div>
                    }

                    @*<div class="col-sm-6 col-lg-4 mg-b-20">
                            <div class="card-contact card-min-height">
                                <div class="tx-center">
                                    <a href=""><img src="~/theme/img/logo1.jpg" class="card-img" alt=""></a>
                                    <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">Elite Web Technologies</a></h5>
                                    <p>Computer and Technology</p>
                                    <p>Chandigarh, India</p>
                                    <p class="contact-social">
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-google"></i></a>
                                    </p>
                                </div><!-- tx-center -->


                                <p class="contact-item">

                                    <span class="text-center">.Net, php, Java, Web Developer, Angular JS, Ruby, Python, C/C++</span>
                                </p><!-- contact-item -->


                            </div><!-- card -->
                        </div>
                        <div class="col-sm-6 col-lg-4 mg-b-20">

                            <div class="card-contact card-min-height">
                                <div class="tx-center">

                                    <a href=""><img src="~/theme/img/user-1.jpg" class="card-img" alt=""></a>
                                    <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">Amit jindal</a></h5>
                                    <p>Software Developer (CHD)</p>

                                    <p class="contact-social">
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-google"></i></a>
                                    </p>
                                </div><!-- tx-center -->


                                <p class="contact-item">

                                    <span class="text-center">.Net, php, Java, Web Developer, Angular JS, Ruby, Python, C/C++</span>

                                </p><!-- contact-item -->

                                <div class="hobbie-item">
                                    <span class="hobbies">Cricket</span><span class="hobbies">Music</span><span class="hobbies">Books</span>
                                </div><!-- contact-item -->
                                <button class="btn btn-outline-primary btn-block ps-btn-radius ps-btn-wdth-100"><i class=""></i> Get In Touch</button>

                            </div><!-- card -->
                        </div>*@

                </div><!-- row -->

                <a href="" class="btn btn-light btn-block mg-t-20">Load more contacts</a>

            </div><!-- manager-right -->
            <div class="manager-left">
                <a href="" class="btn btn-contact-new">Add New</a>
                <nav class="nav">
                    <a href="" class="nav-link active">
                        <span>All Contacts</span>
                        <span>120</span>
                    </a>
                    <a href="" class="nav-link">
                        <span>Family</span>
                        <span>16</span>
                    </a>
                    <a href="" class="nav-link">
                        <span>Friends</span>
                        <span>68</span>
                    </a>
                    <a href="" class="nav-link">
                        <span>Co-workers</span>
                        <span>38</span>
                    </a>
                    <a href="" class="nav-link">
                        <span>Favorites</span>
                        <span>9</span>
                    </a>
                </nav>

                <label class="section-label-sm mg-t-25">Location</label>
                <nav class="nav">
                    <a href="" class="nav-link">
                        <span>San Francisco</span>
                        <span>10</span>
                    </a>
                    <a href="" class="nav-link">
                        <span>Los Angeles</span>
                        <span>16</span>
                    </a>
                    <a href="" class="nav-link">
                        <span>New York</span>
                        <span>15</span>
                    </a>
                    <a href="" class="nav-link">
                        <span>Las Vegas</span>
                        <span>4</span>
                    </a>
                    <a href="" class="nav-link">
                        <span>Sacramento</span>
                        <span>4</span>
                    </a>
                </nav>

                <label class="section-label-sm mg-t-25">Job Position</label>
                <nav class="nav">
                    <a href="" class="nav-link">
                        <span>Software Engineer</span>
                        <span>4</span>
                    </a>
                    <a href="" class="nav-link">
                        <span>UI Designer</span>
                        <span>6</span>
                    </a>
                    <a href="" class="nav-link">
                        <span>Sales Representative</span>
                        <span>5</span>
                    </a>
                    <a href="" class="nav-link">
                        <span>Mechanical Engineer</span>
                        <span>4</span>
                    </a>
                    <a href="" class="nav-link">
                        <span>Nurse</span>
                        <span>4</span>
                    </a>
                </nav>
            </div>

            <!-- manager-left -->
        </div><!-- manager-wrapper -->

    </div><!-- container -->
</div><!-- slim-mainpanel -->