@model PrivateSquareWeb.Models.ProductModel

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}
<script type="text/javascript">

    var AddToCart = function (Id, ProductName, SellingPrice, DiscountPrice, ProductImage) {
        console.log(Id + ProductName + SellingPrice + DiscountPrice + ProductImage);
        //var Qty = document.getElementById('TxtQty').value;
        //if (Qty.trim() == '' || Qty.trim() == null) {
        //    alert('Minum 1 Qty Required');
        //    return;
        //}
        var salePrice = SellingPrice;
        var discountPrice = DiscountPrice;
        var ProductId = Id;
        var ProductName = "" + ProductName + "";
        var Qty = 1;
        var ImageName = ProductImage;
        var Price = Number((Number(salePrice) - Number(discountPrice)));
        var Amount = Number(Price) * Number(Qty);

        var TotalAmount = 0;
        console.log('ProductId' + ProductId);
        $.ajax({
            url: "../../WebHome/AddToCart",
            type: "POST",
            //contentType: false,
            //processData: false,
            data: {
                ProductId: ProductId,
                ProductName: ProductName,
                Qty: Qty,
                ImageName: ImageName,
                Price: Price,
                Amount: Amount,
                Discount: discountPrice,
                TotalAmount: TotalAmount
            },
            success: function (result) {
                //console.log(result);
                window.location.href = "/WebHome/Index";
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
<script type="text/javascript">
    var AddToWishlist=function (Id) {
        
        var ProductId = Id;
        $.ajax({
            url: "../../WebHome/AddToWishlist",
            type: "POST",
            data: { ProductId: ProductId },
            success: function (result) { console.log('Product added to wishlist'); },
            error: function (error) {
                console.log(error);
            }

        })
        //$('form#ajaxForm').trigger('submit');
        
    }
</script>
@using (Html.BeginForm("ProcessForm", "WebHome", FormMethod.Post))
{

    <div class="ps-fashion3--banner">
        <div class="left">
            <div class="ps-slider--fashion3 owl-slider" data-owl-auto="true" data-owl-loop="false" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="false" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="false">
                <div class="ps-banner--3 bg--cover" data-background="~/WebSiteTheme/images/banner/banner1.jpg"><img src="~/WebSiteTheme/images/banner/banner1.jpg" alt=""></div>
                <div class="ps-banner--3 bg--cover" data-background="~/WebSiteTheme/images/banner/banner2.jpg"><img src="~/WebSiteTheme/images/banner/banner2.jpg" alt=""></div>
                <div class="ps-banner--3 bg--cover" data-background="~/WebSiteTheme/images/banner/banner3.png"><img src="~/WebSiteTheme/images/banner/banner3.png" alt=""></div>
            </div>
        </div>
        <div class="right">
            <ul class="ps-list--banner">
                <li class="active"><a href="#">Deal of the Week: Free 50%</a></li>
                <li><a href="#">New COLORS Safety Razors</a></li>
                <li><a href="#">SHAVING CREAM SAMPLE PACKS</a></li>
                <li><a href="#">SEE NEWEST PRODUCTS</a></li>
                <li><a href="#">COLLECTION THIS SUMMER</a></li>
            </ul>
        </div>
    </div>
    <div class="ps-section pt-80 pb-30">
        <div class="ps-container">
            <div class="ps-section__header text-center">
                <h2 class="ps-section__title">SPECIAL PRODUCT</h2>
                <p>Featured collections created and curated by our editors</p>
            </div>
            <div class="ps-section__content">
                @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">*@
                @foreach (var Users in ViewBag.UsersProduct)
                {
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                        <div class="ps-product--fashion">
                            <div class="ps-product__thumbnail">
                                <a class="ps-product__overlay" href="/WebHome/ProductDetail/@Users.Id"></a>
                                @{ if (@Users.ProductImage == null)

                                    {
                                        <img class="lazy" src="~/DocImg/deafult.png" alt="">

                                    }
                                    else
                                    {
                                        <img class="lazy" src="~/DocImg/@Users.ProductImage" alt="">

                                    }
                                }
                                <div class="ps-badge ps-badge--sale-off"><span>-40%</span></div>
                                <ul class="ps-product__actions">
                                    <li><a class="ps-modal-open" href="#quickview" title="Quick View"><i class="ps-icon-eye"></i></a></li>
                                    <li><a href="#" title="Compare"><i class="ps-icon-compare"></i></a></li>
                                    <li><a href="#" title="Favorite" onclick="AddToWishlist(@Users.Id)"><i class="ps-icon-heart"></i></a></li>
                                </ul>
                            </div>
                            <div class="ps-product__content">
                                <a class="ps-product__title" href="/WebHome/ProductDetail/@Users.Id">@Users.ProductName</a>
                                <p class="ps-product__price">
                                    <del>@Users.SellingPrice</del>@Users.DiscountPrice
                                </p><a class="ps-product__cart" onclick="AddToCart('@Users.Id','@Users.ProductName','@Users.SellingPrice','@Users.DiscountPrice','@Users.ProductImage')" title="Add To Cart"><i class="ps-icon-cart-2"></i></a>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>

    <div class="ps-section pt-60 pb-30">
        <div class="ps-container">
            <div class="ps-section__header text-center">
                <h2 class="ps-section__title">POPULAR PRODUCTS</h2>
                <p>Here are key products that bring fashionistas to PS Store.</p>
            </div>
            <div class="ps-section__content">
                <div class="ps-slider--center owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-nav-left="&lt;i class='ps-icon-arrow-left'&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class='ps-icon-arrow-right'&gt;&lt;/i&gt;">
                    @foreach (var Users in ViewBag.PopularProducts)
                    {
                        <div class="ps-product--fashion">
                            <div class="ps-product__thumbnail">
                                <a class="ps-product__overlay" href="/WebHome/ProductDetail/@Users.Id"></a><img class="lazy" src="~/DocImg/@Users.ProductImage" alt="Product">
                                <div class="ps-badge ps-badge--sale-off"><span>-40%</span></div>
                                <ul class="ps-product__actions">
                                    <li><a href="#" title="Quick View"><i class="ps-icon-eye"></i></a></li>
                                    <li><a href="#" title="Compare"><i class="ps-icon-compare"></i></a></li>
                                   
                                        <li><a href="#" class="submit-link" onclick="AddToWishlist(@Users.Id)" title="Favorite"><i class="ps-icon-heart"></i></a></li>
                                        <li><input type="submit" style="display:none" value="Save" /></li>
                                    
                                </ul>
                            </div>
                            <div class="ps-product__content">
                                <a class="ps-product__title" href="product-detail.html">@Users.ProductName</a>
                                <p class="ps-product__price">
                                    <del>@Users.SellingPrice</del>@Users.DiscountPrice
                                </p><a class="ps-product__cart" href="#" onclick="AddToCart('@Users.Id','@Users.ProductName','@Users.SellingPrice','@Users.DiscountPrice','@Users.ProductImage')" title="Add To Cart"><i class="ps-icon-cart-2"></i></a>
                            </div>
                        </div>
                    }
                        
                    </div>
            </div>
        </div>
    </div>
    <div class="ps-section--partner">
        <div class="ps-container">
            <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="60" data-owl-nav="false" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="3" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="5" data-owl-duration="1000" data-owl-mousedrag="on"><a href="#"><img src="~/WebSiteTheme/images/partner/1.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/2.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/3.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/4.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/5.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/1.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/2.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/3.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/4.png" alt=""></a><a href="#"><img src="~/WebSiteTheme/images/partner/5.png" alt=""></a></div>
        </div>
    </div>
    <div class="ps-section--features">
        <div class="ps-container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="ps-iconbox">
                        <header>
                            <i class="ps-icon-delivery"></i>
                            <h3>FREE SHIPPING</h3>
                            <p>ON ORDER OVER $199</p>
                        </header>
                        <p>Want to track a package? Find tracking information and order details from Your Orders.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="ps-iconbox">
                        <header>
                            <i class="ps-icon-wallet"></i>
                            <h3>100% MONEY BACK.</h3>
                            <p>WITHIN 30 DAYS AFTER DELIVERY.</p>
                        </header>
                        <p>You may return most new, unopened items sold within 30 days of delivery for a full refund.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="ps-iconbox">
                        <header>
                            <i class="ps-icon-customer-service"></i>
                            <h3>SUPPORT 24/7.</h3>
                            <p>WE CAN HELP YOU ONLINE.</p>
                        </header>
                        <p>We offer a 24/7 customer hotline so you're never alone if you have a question.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
