@model PrivateSquareWeb.Models.LoginModel

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}

@using (Html.BeginForm("ForgetPassword", "WebsiteForgetPassword", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="ps-hero">

        <div class="container">

            <h3>Reset Password</h3>

            <p>Change/Reset your password</p>

        </div>

    </div>
    <div class="container mt-50 mb-45">
        <div class="col-lg-6 col-lg-offset-3">
            <p class="text-center private-squares-heading">private<span class="pvt-sq-col">squares</span> helps to connect and share with the people in your life.</p>
            @*<div class="col-md-7 pull-left"><img src="~/theme/img/login-img.jpg" class="img-full" /></div>*@
            @*<div class="col-md-5 pull-left image-padding">
                <div class="signin-box pull-right">*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", placeholder = "Enter Email Id" })
                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
            </div><!-- form-group -->

            <div class="form-group">
                <p style="color:red">
                    @ViewBag.ResponseMessage
                </p>
                <input type="submit" value="Submit" class="ps-btn pl-60 pr-60" />
                <a href="/WebLogin/Index" class="ps-btn pl-60 pr-60 pull-right">Login</a>
            </div><!-- form-group -->

        </div>
    </div>

    
}
