<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        @{
            //Html.RenderPartial("_Header");
            Html.RenderAction("HeaderValue", "HeaderPartial");
        }
    </header>

    <div>
        @RenderBody()

    </div>
    <footer>
        @{Html.RenderPartial("_Footer");
        }
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script>
      $(function(){
        'use strict';
        $('.select2').select2({
          minimumResultsForSearch: Infinity
        });

        // Select2 by showing the search
        $('.select2-show-search').select2({
          minimumResultsForSearch: ''
          });
          //
          // Datepicker
          $('.fc-datepicker').datepicker({
              showOtherMonths: true,
              selectOtherMonths: true
          });

          $('#datepickerNoOfMonths').datepicker({
              showOtherMonths: true,
              selectOtherMonths: true,
              numberOfMonths: 2
          });
        });

    </script>
</body>
</html>
