@model PrivateSquareWeb.Models.ProductModel

<aside class="ps-sidebar" data-mh="product-page">
    <aside class="ps-widget--sidebar ps-widget--category">
        <div class="ps-widget__header">
            <h3>Category</h3>
        </div>
        <div class="ps-widget__content">
            <ul class="ps-list--checked">
                @{
                    foreach (var Cat in ViewBag.ProductCatList)
                    {
                        if (Cat.ParentCatId == 0)
                        {
                            <li><a data-toggle="collapse" data-target="#subcategories@(Cat.Id)">@Cat.Name </a></li>

                        }
                        <li>
                            <div id="subcategories@(Cat.Id)" class="collapse">
                                @{ if (Cat.Id == 36)
                                    {
                                        foreach (var item in ViewBag.ProdCatList36)
                                        {
                                <ul><li><a href="~/ProductCatWise/Index/@item.Id"> @item.Name</a></li></ul>
                                        }
                                    }
                                    if (Cat.Id == 37)
                                    {
                                        foreach (var item in ViewBag.ProdCatList37)
                                        {
                                            <ul><li><a href="~/ProductCatWise/Index/@item.Id"> @item.Name</a></li></ul>
                                        }
                                    }
                                    if (Cat.Id == 38)
                                    {
                                        foreach (var item in ViewBag.ProdCatList38)
                                        {
                                            <ul><li><a href="~/ProductCatWise/Index/@item.Id"> @item.Name</a></li></ul>
                                        }
                                    }
                                    if (Cat.Id == 39)
                                    {
                                        foreach (var item in ViewBag.ProdCatList39)
                                        {
                                            <ul><li><a href="~/ProductCatWise/Index/@item.Id"> @item.Name</a></li></ul>
                                        }
                                    }
                                    if (Cat.Id == 41)
                                    {
                                        foreach (var item in ViewBag.ProdCatList41)
                                        {
                                            <ul><li><a href="~/ProductCatWise/Index/@item.Id"> @item.Name</a></li></ul>
                                        }
                                    }
                                    if (Cat.Id == 42)
                                    {
                                        foreach (var item in ViewBag.ProdCatList42)
                                        {
                                            <ul><li><a href="~/ProductCatWise/Index/@item.Id"> @item.Name</a></li></ul>
                                        }
                                    }
                                }
                                
                            </div>
                        </li>
                    }
                }
                <li><a href="product-listing.html">More</a></li>
            </ul>
        </div>
    </aside>

    @*<aside class="ps-widget--sidebar ps-widget--filter ">
        <div class="ps-widget__header">
            <h3>Price Filter</h3>
        </div>
        <div class="ps-widget__content">
            <div class="ac-slider" data-default-min="300" data-default-max="2000" data-max="3450" data-step="50" data-unit="$"></div>
            <p class="ac-slider__meta">Price:<span class="ac-slider__value ac-slider__min"> 10</span>-<span class="ac-slider__value ac-slider__max">50000</span></p>

            <input type="range" id="firstslider" min="0" max="50000" step="100" value="0" onchange="showvalue(this.value)" /><br>
            <input type="text" id="TxtPriceRange" name="TxtPriceRange" />
            <input type="submit" id="BtnPriceRange" name="submit" onclick="ProductPriceWise()" value="PriceRange" style="display:none;" />

        </div>
    </aside>*@
    @*<aside class="ps-widget--sidebar ps-widget--category">
        <div class="ps-widget__header">
            <h3>Brands</h3>
        </div>
        <div class="ps-widget__content">
            <ul class="ps-list--checked">
                <li class="current"><a data-toggle="collapse" data-target="#demo">Category 1</a></li>
                <li>
                    <div id="demo" class="collapse">
                        <ul>
                            <li>subcategory 1</li>
                            <li>SubCategory 2</li>
                            <li>SubCategory 3</li>
                        </ul>
                    </div>
                </li>
                <li><a href="product-listing.html">Adidas(76)</a></li>
                <li><a href="product-listing.html">Baseball(69)</a></li>
                <li><a href="product-listing.html">Gucci(36)</a></li>
                <li><a href="product-listing.html">Dior(108)</a></li>
                <li><a href="product-listing.html">B&G(108)</a></li>
                <li><a href="product-listing.html">Louis Vuiton(47)</a></li>
            </ul>
        </div>
    </aside>
    <aside class="ps-widget--sidebar ps-widget--category">
        <div class="ps-widget__header">
            <h3>Width</h3>
        </div>
        <div class="ps-widget__content">
            <ul class="ps-list--checked">
                <li class="current"><a href="product-listing.html">Narrow</a></li>
                <li><a href="product-listing.html">Regular</a></li>
                <li><a href="product-listing.html">Wide</a></li>
                <li><a href="product-listing.html">Extra Wide</a></li>
            </ul>
        </div>
    </aside>
    <div class="ps-sticky">
        <aside class="ps-widget--sidebar">
            <div class="ps-widget__header">
                <h3>Size</h3>
            </div>
            <div class="ps-widget__content">
                <table class="table ps-table--size">
                    <tbody>
                        <tr>
                            <td class="active">3</td>
                            <td>5.5</td>
                            <td>8</td>
                            <td>10.5</td>
                            <td>13</td>
                        </tr>
                        <tr>
                            <td>3.5</td>
                            <td>6</td>
                            <td>8.5</td>
                            <td>11</td>
                            <td>13.5</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>6.5</td>
                            <td>9</td>
                            <td>11.5</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <td>4.5</td>
                            <td>7</td>
                            <td>9.5</td>
                            <td>12</td>
                            <td>14.5</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>7.5</td>
                            <td>10</td>
                            <td>12.5</td>
                            <td>15</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </aside>
        <aside class="ps-widget--sidebar">
            <div class="ps-widget__header">
                <h3>Color</h3>
            </div>
            <div class="ps-widget__content">
                <ul class="ps-list--color">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </aside>
    </div>*@
</aside>
@*<ul id="demo" class="collapse">
        <li>collapse 1</li>
        <li>Collapse 2</li>
    </ul>*@

