@model PrivateSquareWeb.Models.ProductModel

<aside class="ps-sidebar pt-40" data-mh="product-page">
    <aside class="ps-widget--sidebar ps-widget--category">
        <div class="ps-widget__header">
            <h3>Category</h3>
        </div>
        <div class="ps-widget__content">
            <ul class="ps-list--checked">
                @{
                    foreach (var Cat in ViewBag.ProductCatList)
                    {
                        if (Cat.ParentCatId == 0)
                        {
                            <li id="@Cat.Id"><a  class="current" data-toggle="collapse" data-target="#subcategories@(Cat.Id)" onclick="SelectParentCategory(@Cat.Id)">@Cat.Name </a></li>

                        }
                        <li>
                            <div id="subcategories@(Cat.Id)" class="collapse">
                                @{ if (Cat.Id == 36)
                                    {
                                        foreach (var item in ViewBag.ProdCatList36)
                                        {
                                <ul style="margin-left:20px;"><li><a href="~/ProductCatWise/Index/@item.Id"> @item.Name</a></li></ul>
                                        }
                                    }
                                    if (Cat.Id == 37)
                                    {
                                        foreach (var item in ViewBag.ProdCatList37)
                                        {
                                            <ul style="margin-left:20px;"><li><a href="~/ProductCatWise/Index/@item.Id"> @item.Name</a></li></ul>
                                        }
                                    }
                                    if (Cat.Id == 38)
                                    {
                                        foreach (var item in ViewBag.ProdCatList38)
                                        {
                                            <ul style="margin-left:20px;"><li><a href="~/ProductCatWise/Index/@item.Id"> @item.Name</a></li></ul>
                                        }
                                    }
                                    if (Cat.Id == 39)
                                    {
                                        foreach (var item in ViewBag.ProdCatList39)
                                        {
                                            <ul style="margin-left:20px;"><li><a href="~/ProductCatWise/Index/@item.Id"> @item.Name</a></li></ul>
                                        }
                                    }
                                    if (Cat.Id == 41)
                                    {
                                        foreach (var item in ViewBag.ProdCatList41)
                                        {
                                            <ul style="margin-left:20px;"><li><a href="~/ProductCatWise/Index/@item.Id"> @item.Name</a></li></ul>
                                        }
                                    }
                                    if (Cat.Id == 42)
                                    {
                                        foreach (var item in ViewBag.ProdCatList42)
                                        {
                                            <ul style="margin-left:20px;"><li><a href="~/ProductCatWise/Index/@item.Id"> @item.Name</a></li></ul>
                                        }
                                    }
                                }
                                
                            </div>
                        </li>
                    }
                }
                @*<li><a href="#">More</a></li>*@
            </ul>
        </div>
    </aside>

</aside>

